.bg-custom-image::before {
  content: '';
  background-image: url('/vite.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4; 
  z-index: -1; 
}